.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.left-section{
  background-color: lightblue;
  width: 150px;
}
.middle-section{
  background-color: lightpink;
  flex: 1;

  max-width: 500px;
  margin: 0px 35px 0px 70px;
}
.right-section{
  background-color: lightblue;
  width: 200px;
}