.video-info {
  width: 400px;
  padding: 15px;
  border-radius: 10px;
}
.video-info:hover{
  background-color: rgba(227, 225, 225, 0.381);
}

.thumbnail-image {
  width: 400px;
  height: 250px;

  border: none;
  border-radius: 15px;

  object-fit: cover;
  object-position: center;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 5px;
}

/* .profile-picture {
  background-color: grey;

} */
.profile-picture-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;

  border: none;
  border-radius: 25px;
}

/* .video-details{
  background-color: grey;

} */
.video-title{
  font-weight: bold;
  font-family: Arial;
  margin: 5px 0px 15px;
}
.video-author{
  font-family: Arial;
  color: rgb(78, 78, 78);
  font-size: 14px;
  margin: 0px 0px 8px;
}
.video-stats{
  font-family: Arial;
  color: rgb(78, 78, 78);
  font-size: 14px;
  margin: 0px 0px 20px;
}